@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Josefin+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar - copiado de style.css (se rompe si lo importo; se pisan clases con index.html) */
.bg-light{
    background-color: #e76f5198 !important;
    width: 100%;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -moz-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -ms-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        -moz-filter: blur(12px);
        -ms-filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        -moz-filter: blur(12px);
        -ms-filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        opacity: 1;
    }
}
.dropdown-menu{
    background-image: linear-gradient(to left, #f77f00, #f4a261);
}
.navbar-brand{
    opacity: 1;
    display: flex;
    transition: all 1 ease;
    transform: scale(0.9);
    animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
    -webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -moz-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -ms-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
}
.navbar-brand img{
    height:100%;
}
@-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        -moz-transform: translateZ(400px) translateY(300px);
        -ms-transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        -moz-transform: translateZ(0) translateY(0);
        -ms-transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        -moz-transform: translateZ(400px) translateY(300px);
        -ms-transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        -moz-transform: translateZ(0) translateY(0);
        -ms-transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
.navbar-brand:active{
    animation: rotate-out-center 0.8s ease-out alternate-reverse backwards;
    -webkit-animation: rotate-out-center 0.8s ease-out alternate-reverse backwards;
    -moz-animation: rotate-out-center 0.8s ease-out alternate-reverse backwards;
    -ms-animation: rotate-out-center 0.8s ease-out alternate-reverse backwards;
}
@-webkit-keyframes rotate-out-center {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        opacity: 0;
    }
}
@keyframes rotate-out-center {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        opacity: 0;
    }
}
.nav-item{

}
.nav-link, .dropdown-menu{
    padding: 0px !important;
}
#inicio{
    opacity: 1;
    transition: all 1 ease-in;  
}
#inicio:hover{
    opacity:1;
    color: green;
    font-weight: 700;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    -ms-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}
@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        -moz-filter: blur(12px);
        -ms-filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        -moz-filter: blur(12px);
        -ms-filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        opacity: 1;
    }
}
#skills{
    opacity: 0.5;
    transition: all 1 ease-in;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -moz-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -ms-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.skills-nav:hover{
    font-weight: bolder;
    animation: wobble-ver-right 0.8s both;
    -webkit-animation: wobble-ver-right 0.8s both;
    -moz-animation: wobble-ver-right 0.8s both;
    -ms-animation: wobble-ver-right 0.8s both;
}
#skills:hover{
    color: #218d80;
}
@-webkit-keyframes wobble-ver-right {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        -moz-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateY(-30px) rotate(6deg);
        -moz-transform: translateY(-30px) rotate(6deg);
        -ms-transform: translateY(-30px) rotate(6deg);
    }
    30% {
        -webkit-transform: translateY(15px) rotate(-6deg);
        -moz-transform: translateY(15px) rotate(-6deg);
        -ms-transform: translateY(15px) rotate(-6deg);
    }
    45% {
        -webkit-transform: translateY(-15px) rotate(3.6deg);
        -moz-transform: translateY(-15px) rotate(3.6deg);
        -ms-transform: translateY(-15px) rotate(3.6deg);
    }
    60% {
        -webkit-transform: translateY(9px) rotate(-2.4deg);
        -moz-transform: translateY(9px) rotate(-2.4deg);
        -ms-transform: translateY(9px) rotate(-2.4deg);
    }
    75% {
        -webkit-transform: translateY(-6px) rotate(1.2deg);
        -moz-transform: translateY(-6px) rotate(1.2deg);
        -ms-transform: translateY(-6px) rotate(1.2deg);
    }
}
@keyframes wobble-ver-right {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        -moz-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateY(-30px) rotate(6deg);
        -moz-transform: translateY(-30px) rotate(6deg);
        -ms-transform: translateY(-30px) rotate(6deg);
    }
    30% {
        -webkit-transform: translateY(15px) rotate(-6deg);
        -moz-transform: translateY(15px) rotate(-6deg);
        -ms-transform: translateY(15px) rotate(-6deg);
    }
    45% {
        -webkit-transform: translateY(-15px) rotate(3.6deg);
        -moz-transform: translateY(-15px) rotate(3.6deg);
        -ms-transform: translateY(-15px) rotate(3.6deg);
    }
    60% {
        -webkit-transform: translateY(9px) rotate(-2.4deg);
        -moz-transform: translateY(9px) rotate(-2.4deg);
        -ms-transform: translateY(9px) rotate(-2.4deg);
    }
    75% {
        -webkit-transform: translateY(-6px) rotate(1.2deg);
        -moz-transform: translateY(-6px) rotate(1.2deg);
        -ms-transform: translateY(-6px) rotate(1.2deg);
    }
}
 
#navbarDropdown{
    opacity: 1;
    transform: rotate(1turn);
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -moz-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -ms-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
} 

#navbarDropdown:hover{
    color: #9a031e;
    font-weight: 700;
    opacity: 1;
    animation: text-shadow-drop-bl 0.6s infinite both;
    -webkit-animation: text-shadow-drop-bl 0.6s infinite both;
    -moz-animation: text-shadow-drop-bl 0.6s infinite both;
    -ms-animation: text-shadow-drop-bl 0.6s infinite both;
}
@-webkit-keyframes text-shadow-drop-bl {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
    }
  }
@keyframes text-shadow-drop-bl {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
    }
}
  
#contacto{
    opacity: 0.5;
    transition: all 1 ease-in;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -moz-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -ms-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#contacto:hover{
    color: #264653;
    font-weight: 400;
    opacity: 1;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -moz-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -ms-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        -moz-transform: translateZ(400px);
        -ms-transform: translateZ(400px);
        opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      opacity: 1;
    }
}
@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      -moz-transform: translateZ(400px);
      -ms-transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      opacity: 1;
    }
}

/* Footer */


/* Titulos y subtitulos */
h2{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    width:fit-content;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    margin: 2rem;
    box-shadow: -0.7rem 0.7rem 0.3rem grey;
}
h5{
    font-weight: bold;
    letter-spacing: 0.5rem;
}

#mundoGeek .card-body h5{
    color:blue; 
    text-decoration: blue;
    border-bottom: 5px dotted blue;
    display: inline;
}

#pet-firmware .card-body h5{
    color:rgba(204, 119, 49, 0.959); 
    text-decoration: 5px underline rgba(204, 119, 49, 0.959) ;
}

#burguer-flex .card-body h5{
    color: rgb(81, 169, 142);
    border-bottom: 5px double rgb(81, 169, 142);
    display: inline;
}

#clima-api .card-body h5{
    background: linear-gradient(135deg, yellow,orange, red);
    /* border-bottom: 5px dotted orangered; */
    border-top: 3.5px dotted yellowgreen;
    border-right: 3px dotted rgb(81, 169, 142);
    display: inline;
}

#shazam .card-body h5{
    text-align: center;
    background: radial-gradient(gold, rgb(205 92 92), rgb(10 105 228));
    color:rgba(131, 6, 6, 0.89);
    border-radius: 66%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 66%;
    -ms-border-radius: 66%;
    -o-border-radius: 66%;
}

#stockeate .card-body h5 {
    filter: blur(2px);
}

#stockeate .card-body h5:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
#react-todo .card-body h5{
    color: white;
    text-shadow: 2px 2px 4px #c40808;
}
#react-videos .card-body h5{
    color: yellow;
    text-shadow: 1px 1px 2px goldenrod, 0 0 25px orange, 0 0 5px orangered;
}


/* IMAGENES: Efectos opacity brigthness con HOVER  */
.card img{
    opacity: 0.1;
    filter: brightness(0.10%);
    -webkit-filter: brightness(10%);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card img:hover{
    cursor: pointer;
    opacity: 1;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}

.card-text{
    opacity: 0.5;
    transition: 1s ease-in;
    font-family: 'Averia Serif Libre', cursive;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

/* Lightbox */

#lightbox{
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.7);
    display: none;
}
#lightbox img {
    padding: 3px;
    background-color: black;
    border: 1.5px solid white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#lightbox.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <a> que llevan a WEB y GH Repos */
button a {
    text-decoration: none;
    color: inherit;
}
button a:hover {
    text-decoration: none;
    color: inherit;
}
/* Bootstrap modificacion en efecto de hover en botones (desde JS con 'mouseover') */
.btn-outline-secondary{
    cursor: pointer;
}

/* -------------------  FOOTER  ---------------------- */
.footer-proyecto p{
    color: white;
    font-family: 'Averia Serif Libre', cursive;
    margin: 0.5rem;
}

.fa-arrow-alt-circle-up{
    color: bisque;
    font-size: 2rem;
}
.fa-arrow-alt-circle-up:hover{
    cursor: grabbing;
}

/* ------------------- MEDIA QUERIES  ---------------------- */
@media (min-width: 1366px){
    /* #shazam img, #stockeate img{
        height: 224px;
    } */
    .card img{
        height: 224px;
    }
}
@media (min-width: 992px) and (max-width: 1365px){
    /* #shazam img, #stockeate img{
        height: 186px;
    } */
    .card img{
        height: 186px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    /* #shazam img, #stockeate img{
        height: 134px;
    } */
    .card img{
        height: 134px;
    }
}
@media (max-width: 991px){
    #clima-api .card-body h5, #pet-firmware .card-body h5 {
        display: inline-block;
        text-align: center;
    }
}

@media (min-width: 100px) and (max-width: 786px){
    .card img{
        width: 100%;
    }
}