*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('../images/posible_fondo_proyectos.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

h2{
    text-align: center;
}
h5{
    font-weight: bold;
    letter-spacing: 0.5rem;
}

#mundoGeek .card-body h5{
    color:blue; 
    text-decoration: blue;
    border-bottom: 5px dotted blue;
    display: inline;
}

#pet-firmware .card-body h5{
    color:rgba(204, 119, 49, 0.959); 
    text-decoration: 5px underline rgba(204, 119, 49, 0.959) ;
}

#burguer-flex .card-body h5{
    color: rgb(81, 169, 142);
    border-bottom: 5px double rgb(81, 169, 142);
    display: inline;
}

#clima-api .card-body h5{
    background: linear-gradient(135deg, yellow,orange, red);
    /* border-bottom: 5px dotted orangered; */
    border-top: 3.5px dotted yellowgreen;
    border-right: 3px dotted rgb(81, 169, 142);
    display: inline;
}

#shazam .card-body h5{
    text-align: center;
    background: radial-gradient(gold, rgb(205 92 92), rgb(10 105 228));
    color:rgba(131, 6, 6, 0.89);
    border-radius: 66%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 66%;
    -ms-border-radius: 66%;
    -o-border-radius: 66%;
}
#shazam img, #stockeate img{
    height: 186px;
}
