*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('../images/posible_fondo_proyectos.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}

h2{
    text-align: center;
}
h5{
    font-weight: bold;
    letter-spacing: 0.5rem;
}

#mundoGeek .card-body h5{
    color:blue; 
    text-decoration: blue;
    border-bottom: 5px dotted blue;
    display: inline;
}

#pet-firmware .card-body h5{
    color:rgba(204, 119, 49, 0.959); 
    text-decoration: 5px underline rgba(204, 119, 49, 0.959) ;
}

#burguer-flex .card-body h5{
    color: rgb(81, 169, 142);
    border-bottom: 5px double rgb(81, 169, 142);
    display: inline;
}

#clima-api .card-body h5{
    background: linear-gradient(135deg, yellow,orange, red);
    /* border-bottom: 5px dotted orangered; */
    border-top: 3.5px dotted yellowgreen;
    border-right: 3px dotted rgb(81, 169, 142);
    display: inline;
}

#shazam .card-body h5{
    text-align: center;
    background: radial-gradient(gold, rgb(205 92 92), rgb(10 105 228));
    color:rgba(131, 6, 6, 0.89);
    border-radius: 66%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 66%;
    -ms-border-radius: 66%;
    -o-border-radius: 66%;
}

#stockeate .card-body h5 {
    filter: blur(2px);
}

#stockeate .card-body h5:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

/* IMAGENES: Efectos opacity brigthness con HOVER  */
.card img{
    opacity: 0.1;
    filter: brightness(0.10%);
    -webkit-filter: brightness(10%);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card img:hover{
    cursor: pointer;
    opacity: 1;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}

.card-text{
    opacity: 0.5;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

/* Lightbox */

#lightbox{
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.7);
    display: none;
}
#lightbox img {
    padding: 3px;
    background-color: black;
    border: 1.5px solid white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#lightbox.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <a> que llevan a WEB y GH Repos */
button a {
    text-decoration: none;
    color: inherit;
}
button a:hover {
    text-decoration: none;
    color: inherit;
}
/* Bootstrap modificacion en efecto de hover en botones (desde JS con 'mouseover') */
.btn-outline-secondary{
    cursor: pointer;
}
/* MEDIA QUERIES */
@media (min-width: 1366px){
    /* #shazam img, #stockeate img{
        height: 224px;
    } */
    .card img{
        height: 224px;
    }
}
@media (min-width: 992px) and (max-width: 1365px){
    /* #shazam img, #stockeate img{
        height: 186px;
    } */
    .card img{
        height: 186px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    /* #shazam img, #stockeate img{
        height: 134px;
    } */
    .card img{
        height: 134px;
    }
}
@media (max-width: 991px){
    #clima-api .card-body h5, #pet-firmware .card-body h5, {
        display: inline-block;
        text-align: center;
    }
}